---
title: Cameron Editions
body_class: gallery
gallery_name: "Winter Solstice"
gallery_path: "winter-solstice"
images:
  - filename: winter-solstice-170.jpg
    alt: "Winter Solstice 170"
  - filename: winter-solstice-177.jpg
    alt: "Winter Solstice 177"
  - filename: winter-solstice-179.jpg
    alt: "Winter Solstice 179"
  - filename: winter-solstice-185.jpg
    alt: "Winter Solstice 185"
  - filename: winter-solstice-186.jpg
    alt: "Winter Solstice 186"
  - filename: winter-solstice-190.jpg
    alt: "Winter Solstice 190"
  - filename: winter-solstice-193.jpg
    alt: "Winter Solstice 193"
---
.row
  .small-12
    .ad-gallery#gallery
      .ad-image-wrapper
      / .ad-controls
      #descriptions
      .ad-nav
        .ad-thumbs
          %ul.ad-thumb-list
            - current_page.data.images.each_with_index do |image, index|
              %li
                %a{href: "/images/#{current_page.data.gallery_path}/#{image.filename}"}
                  %img{src: "/images/thumbs/#{current_page.data.gallery_path}/#{image.filename}", class: "image#{index}", alt: "#{current_page.data.gallery_name} : #{image.alt}"}