---
title: Cameron Editions
body_class: gallery
gallery_name: "Light Landscapes"
gallery_path: "light-landscapes"
images:
  - filename: cosmic-cloudscape-dusk.jpg
    alt: "Cosmic Cloudscape Dusk"
  - filename: cosmic-cloudscape.jpg
    alt: "Cosmic Cloudscape"
  - filename: cosmic-landscape-07.jpg
    alt: "Cosmic Landscape 07"
  - filename: cosmic-landscape-16.jpg
    alt: "Cosmic Landscape 16"
  - filename: cosmic-landscape-25.jpg
    alt: "Cosmic Landscape 25"
  - filename: cosmic-landscape-26.jpg
    alt: "Cosmic Landscape 26"
  - filename: cosmic-landscape-98.jpg
    alt: "Cosmic Landscape 98"
  - filename: cosmic-nightfall.jpg
    alt: "Cosmic Nightfall"
  - filename: inflow-22.jpg
    alt: "Inflow 22"
  - filename: inflow-23.jpg
    alt: "Inflow 23"
  - filename: inflow-25.jpg
    alt: "Inflow 25"
  - filename: light-landscape-dusk.jpg
    alt: "Light Landscape Dusk"
  - filename: lightfall-blue-a.jpg
    alt: "Lightfall Blue A"
  - filename: lightfall-blue-b.jpg
    alt: "Lightfall Blue B"
  - filename: lightpool-red-and-blue.jpg
    alt: "Lightpool Red and Blue"
  - filename: lightpool.jpg
    alt: "Lightpool"
  - filename: sun-beam.jpg
    alt: "Sun Beam"
  - filename: sun-rays-landscape.jpg
    alt: "Sun Rays Landscape"
  - filename: sun-rays.jpg
    alt: "Sun Rays"
  - filename: tidal-light-blue.jpg
    alt: "Tidal Light Blue"
  - filename: tidal-light-gold.jpg
    alt: "Tidal Light Gold"
  - filename: tidal-light-purple.jpg
    alt: "Tidal Light Purple"
  - filename: tidal-light-red.jpg
    alt: "Tidal Light Red"
---
.row
  .small-12
    .ad-gallery#gallery
      .ad-image-wrapper
      / .ad-controls
      #descriptions
        %p.gallery-label
          ="#{current_page.data.gallery_name}"
        %p.statement-label
          %a{id: "statement-anchor", href:"#statement"}
            artist statement
      .ad-nav
        .ad-thumbs
          %ul.ad-thumb-list
            - current_page.data.images.each_with_index do |image, index|
              %li
                %a{href: "/images/#{current_page.data.gallery_path}/#{image.filename}"}
                  %img{src: "/images/thumbs/#{current_page.data.gallery_path}/#{image.filename}", class: "image#{index}", alt: "#{image.alt}"}
    
.statement-container
  #statement
    %p 
      These natural, non-manipulated works explore a collection of reflective, textural surfaces found in a lively urban environment.  The photographic macro views emulate a cosmic landscape with bold electrical effects and cloud formations; in actual fact, the saturated color and composition are from nearby traffic lights and neon signs in storefront windows reflected from an uneven metallic surface.
    %p
      Building this collection of works over several nights and locations allowed Angela to utilize several different angles and light variations to achieve a stunning body of work that explores the unseen landscapes and details that exist in our world, unobserved by the naked eye.
      
  
