---
title: Cameron Editions
body_class: gallery
gallery_name: "Surfacescapes"
gallery_path: "surfacescapes"
images:
  - filename: ocean-lines-165.jpg
    alt: "Ocean Lines 165"
  - filename: ocean-lines-869.jpg
    alt: "Ocean Lines 869"
  - filename: ocean-lines-877.jpg
    alt: "Ocean Lines 877"
  - filename: ocean-lines-904.jpg
    alt: "Ocean Lines 904"
  - filename: ocean-lines-922.jpg
    alt: "Ocean Lines 922"
  - filename: ocean-lines-930.jpg
    alt: "Ocean Lines 930"
  - filename: ocean-nightscape-23.jpg
    alt: "Ocean Nightscape 23"
  - filename: ocean-nightscape-28.jpg
    alt: "Ocean Nighscape 28"
  - filename: ocean-nightscape-29.jpg
    alt: "Ocean Nightscape 29"
  - filename: seascape-afternoon-51.jpg
    alt: "Seascape Afternoon 51"
  - filename: seascape-afternoon-80.jpg
    alt: "Seascape Afternoon 80"
  - filename: seascape-afternoon-89.jpg
    alt: "Seascape Afternoon 89"
  - filename: seascape-afternoon-99.jpg
    alt: "Seascape Afternoon 99"
  - filename: tidal-875.jpg
    alt: "Tidal 875"
  - filename: tidal-877.jpg
    alt: "Tidal 877"
  - filename: tidal-885.jpg
    alt: "Tidal 885"
  - filename: tidal-890.jpg
    alt: "Tidal 890"
---
.row
  .small-12
    .ad-gallery#gallery
      .ad-image-wrapper
      / .ad-controls
      #descriptions
        %p.gallery-label
          ="#{current_page.data.gallery_name}"
        %p.statement-label
          %a{id: "statement-anchor", href:"#statement"}
            artist statement
      .ad-nav
        .ad-thumbs
          %ul.ad-thumb-list
            - current_page.data.images.each_with_index do |image, index|
              %li
                %a{href: "/images/#{current_page.data.gallery_path}/#{image.filename}"}
                  %img{src: "/images/thumbs/#{current_page.data.gallery_path}/#{image.filename}", class: "image#{index}", alt: "#{image.alt}"}
    
.statement-container
  #statement
    %p 
      Inconspicuous beautiful landscapes are the focus of this body of work using macro close-ups and Cameron’s unique perspective of angles and natural light. These unaltered Surface Scapes mimic a sense of warm summer storms rolling over the ocean with layers of glowing color and drama in the sky.  Completely unaltered and created on location, these works explore a world that is not apparent to passers by.